@model IEnumerable< News.Models.menu>

<div class="col-sm-6 col-lg-4 p-b-20">
    <div class="size-h-3 flex-s-c">
        <h5 class="f1-m-7 cl0">
            Các ngành
        </h5>
    </div>
    
    <ul class="m-t--12">
        @foreach (var i in Model)
        {
            <li class="how-bor1 p-rl-5 p-tb-10">
                <a href="~/@ViewBag.meta/@i.meta" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                    @i.name
                </a>
        </li>
        }

    </ul>
</div>

