@model IEnumerable< News.Models.menu>

@foreach (var i in Model)
{
    if(@i.id_m ==1)
    {
        <li class="main-menu-active">
            <a href="/@i.meta">@i.name</a>
        </li>
    }
    else
    {
        <li class="mega-menu-item">
            <a href="~/@ViewBag.meta/@i.meta">@i.name</a> 
            <div class="sub-mega-menu">
                <div class="tab-content">
                    @{Html.RenderAction("getMenufornews", "Home", new { id_a = @i.id_m });}
                    
                </div>
            </div>
        </li>
    }
}
