@model IEnumerable< News.Models.tintuc>

@{
    int dem = 1;
    foreach (var i in Model)
    {
        <ul class="p-t-35">
                                <li class="flex-wr-sb-s p-b-22">
                                    <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                        @dem
                                    </div>

                                    <a href="~/@ViewBag.meta/@i.meta/@i.id" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                        @i.description
                                    </a>
                                </li>
                            </ul>
        dem++;
    }
}

