@model IEnumerable< News.Models.tintuc>

@foreach (var i in Model)
{
    <div class="col-sm-6 col-lg-4 p-rl-1 p-b-2">
    <div class="bg-img1 size-a-12 how1 pos-relative" style="background-image: url(/Content/upload/img/@i.img);">
        <a href="~/@ViewBag.meta/@i.meta/@i.id" class="dis-block how1-child1 trans-03"></a>

        <div class="flex-col-e-s s-full p-rl-25 p-tb-11">
            <a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                @i.name
            </a>

            <h3 class="how1-child2 m-t-10">
                <a href="~/@ViewBag.meta/@i.meta/@i.id" class="f1-m-1 cl0 hov-cl10 trans-03">
                    @i.description
                </a>
            </h3>
        </div>
    </div>
</div>
}


