@model News.Models.Contact

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<div class="container p-t-4 p-b-40">
    <h4 class="f1-l-1 cl2" style="font-family: Roboto-Regular;font-size: 14px;line-height: 1.7;    text-align: center;">
        Đóng góp của bạn đã được gửi đi<br />
    </h4>
</div>
