
@model IEnumerable<News.Models.tintuc>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Danh sách các bài viết</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>

<div class="row">
    @Html.Action("getPagelist", "tintucs")
</div>