@model IEnumerable<News.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Liên hệ</h2>

<div class="row">
    @Html.Action("getPagelist", "Contacts_admin")
</div>