<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập</title>

    <!-- Custom fonts for this template-->
    <link href="~/Areas/admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/Areas/admin/Content/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-dark">
    
    <div class="container">
        <div class="card card-login mx-auto mt-5 "style="max-width: 25rem;">
            <div class="card-header"><h4 style="text-align:center">Tài khoản</h4></div>
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Areas/admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
